<style>
.site-footer {
  background: #eeeeee url("../../../base/images/bg.png");
}

.site-footer a {
  color: #112e51;
}

hr {
  border-top: 1px solid #112e51;
}

.site-footer h4 {
  color: #112e51;
}

body {
  background: #eeeeee url("../../../base/images/bg.png");
}
</style>
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h4>Quick Links</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
          <div>
              <a href="https://redistricting.capitol.texas.gov/" target="_blank">{{ _('Texas Redistricting') }}</a>
          </div>
          <div>
              <a href="https://wrm.capitol.texas.gov/home" target="_blank">{{ _('Who Represents Me?') }}</a>
          </div>
          <div>
              <a href="https://dvr.capitol.texas.gov/" target="_blank">{{ _('DistrictViewer') }}</a>
          </div>
        <div>
          <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About Capitol Data Portal')}}</a>
        </div>
        <div>
          <a href="http://www.ckan.org/" target="_blank">{{ _('CKAN Association') }}</a>
        </div>
        <div>
          <a href="http://www.opendefinition.org/okd/" target="_blank">{{ _('Open Data') }}</a>
        </div>   
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="https://tlc.texas.gov/" title="TLC Home (Opens new tab)" target="_blank" rel="noreferrer"><img src="{{ h.url_for_static('/base/images/tlc-logo.png') }}" alt="Texas Legislative Council" style="width:75px;"></a>
        <h4 style="font-size: 13px!important; letter-spacing: 1px!important; text-transform: none!important;">Maintained by the Texas Legislative Council</h4>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
